{% extends "layout.html" %}
{% block form %}

	{% if data=='intro' %}
	<script type="text/javascript">
		$("#myModalIntro").modal("show");
	</script> 	
    {% endif %}

    {% if data == 'success' %}
	<script type="text/javascript">
		$("#myModalSuccess").modal("show");
		document.getElementById("commandPanelId").innerHTML = ""
		document.getElementById("commandPanelId").innerHTML = "<span style='color:#e25b5b; font-weight: bold;'>+ Details of Query +</span><br> {% for detail in details %} <p style='margin-bottom: 0;'> <i class='fa fa-circle-thin'> {{ detail }} </i></p> {% endfor %}"

	</script> 	
    {% endif %}

    <!-- ERROR -->
    {% if data!='intro' and data != 'success' %}
	<script type="text/javascript">
		$("#myModalError").modal("show");
		document.getElementById("modalBodyErrorId").innerHTML = "";
		document.getElementById("modalBodyErrorId").innerHTML = "<p>{{ data }}</p>";

	</script> 	
    {% endif %}


	<div class="container-contact100">
		<div class="wrap-contact100" style="height: 550px; overflow: auto;">
			<form method="POST" action="/search">
			<!-- <form class="formId"> -->
				<span class="contact100-form-title" style="color: #4c8464; padding-bottom: 15px;">
					<img src="../static/images/icons/logo.png" width="120px">
				</span>
				<div class="col-md-12 text-center" style="padding-bottom: 20px;">
					<p style="margin: auto; color: #898989; font-size: 0.8em;">Fast Adapter Identification and Removal of NGS data. </p>
				</div>

				<div class="wrap-input100 input100-select">
					<span class="label-input100">* Layout</span> 
					<span onclick="openModal('layout')" style="height: 20px; padding-top: 0px;" class="btn btn-warning btn-sm"><i class="fa fa-info"></i></span>
					<div>
						<select id="cbLayoutId" class="selection-2" name="layoutName">
							<option value="single" selected="true">Single-end</option>
							<option value="paired">Paired-end</option>
						</select>
					</div>
					{% if form %}
						{% if form.layoutName=='paired' %}
						<script type="text/javascript">
							document.getElementById("cbLayoutId").value = "paired";
						</script>
						{% endif %}
					{% endif %}
					<span class="focus-input100"></span>

					<div id="panelSingleId" style="display: block;padding: 20px;">
					<span class="label-input100" style="color: orange !important;">Single File</span>
					<input type="file" id="singleFileId" name="singleFileName"><br>
					</div>

					<div id="panelPairedId" style="display: none; padding: 10px;">
					<span class="label-input100" style="color: orange !important;">Forward File</span>
					<input type="file" id="forwardFileId" name="forwardFileName" style="padding: 10px;"><br>

					<span class="label-input100" style="color: orange !important;">Reverse File</span>
					<input type="file" id="reverseFileId" name="reverseFileName" style="padding: 10px;"><br>
					</div>
					
				</div>

					<div class="input100-select">
					<span class="label-input100">* Identify or Remove?</span>
					<span onclick="openModal('identifyorremove')" style="height: 20px; padding-top: 0px;" class="btn btn-warning btn-sm"><i class="fa fa-info"></i></span>
					<div>
						<select id="cbIdentifyRemoveId" class="selection-2" name="identifyRemoveName">
							<option value="onlyRemove" selected="true">Only Remove</option>
							<option value="onlyIdentify">Only Identify</option>
						</select>
					</div>
					{% if form %}
						{% if form.identifyRemoveName=='onlyIdentify' %}
						<script type="text/javascript">
							document.getElementById("cbIdentifyRemoveId").value = "onlyIdentify";
						</script>
						{% endif %}
					{% endif %}

					<div class="row" id="panelSingleAdaptersId">

						<div class="col-md-12">
						<div class="wrap-input100 validate-input" data-validate="">
						<!-- <span class="label-input100">Single Adapter</span> -->
						
						<input title="Single Adapter" maxlength="64" id="singleAdapterId" style="font-size: 0.85em; margin-top: 15px;" class="input100" type="text" name="singleAdapterName" placeholder="* Single Adapter" value="{% if form %}{{ form['singleAdapterName'] }}{% endif %}">
						<span class="focus-input100"></span>
						</div>
						</div>

						<div class="col-md-12">

						<div class="col-md-12"><span class="label-input100">Mismatch</span>
							<span onclick="openModal('mismatch')" style="height: 20px; padding-top: 0px;" class="btn btn-warning btn-sm"><i class="fa fa-info"></i></span>
						</div>

						<div class="" style="width:50%; display: inline-block; padding: 10px; ">
						<div class="wrap-input100 validate-input" data-validate="">
						<input title="Max Mismatch 5'-> 3'" maxlength="64" style="font-size: 0.8em;" class="input100 text-center" type="text" id="singleMismatchNameId" name="singleMismatchName" placeholder="Mismatch 5'/3' [default: 2]" value="{% if form %}{{ form['singleMismatchName'] }}{% endif %}">
						<span class="focus-input100"></span>
						</div>
						</div>

						<div class="" style="width:50%; display: inline-block; margin-right: 0vw; float: right;padding: 10px; ">
						<div class="wrap-input100 validate-input" data-validate="">
						<input title="Max Mismatch in Region 3'" style="font-size: 0.8em;" class="input100 text-center" type="text" id="rightMismatchNameId" name="rightMismatchName" placeholder="Mismatch in Region 3' [default: 0.5] 50%" value="{% if form %}{{ form['rightMismatchName'] }}{% endif %}">
						<span class="focus-input100"></span>
						</div>
						</div>

						</div>


					</div>
 

					<div class="row" id="panelPairedAdaptersId" style="display: none;">

						<div class="col-md-12">
						<div class="wrap-input100 validate-input" data-validate="">
						<!-- <span class="label-input100">Forward Adapter</span> -->
						<input title="Forward Adapter" maxlength="64" style="font-size: 0.8em; margin-top: 15px;" class="input100" type="text" id="forwardAdapterNameId" name="forwardAdapterName" placeholder="* Forward Adapter" value="{% if form %}{{ form['forwardAdapterName'] }}{% endif %}">
						<span class="focus-input100"></span>
						</div>
						</div>

						<div class="col-md-12">
						<div class="wrap-input100 validate-input" data-validate="">
						<!-- <span class="label-input100">Reverse Adapter</span> -->
						<input title="Reverse Adapter" maxlength="64" style="font-size: 0.8em;" class="input100" type="text" id="reverseAdapterNameId" name="reverseAdapterName" placeholder="* Reverse Adapter" value="{% if form %}{{ form['reverseAdapterName'] }}{% endif %}">
						<span class="focus-input100"></span>
						</div>
						</div>

						<div class="col-md-12">

						<div class="col-md-12"><span class="label-input100">Mismatch</span>
							<span onclick="openModal('mismatch')" style="height: 20px; padding-top: 0px;" class="btn btn-warning btn-sm"><i class="fa fa-info"></i></span>
						</div>

						<div class="" style="width:50%; display: inline-block; padding: 10px; ">
						<div class="wrap-input100 validate-input" data-validate="">
						<input title="Max Mismatch 5'-> 3'" maxlength="64" style="font-size: 0.8em;" class="input100 text-center" type="text" id="pairedMismatchNameId" name="pairedMismatchName" placeholder="Mismatch Max. 5'/3' [default: 2 bases]" value="{% if form %}{{ form['pairedMismatchName'] }}{% endif %}">
						<span class="focus-input100"></span>
						</div>
						</div>

						<div class="" style="width:50%; display: inline-block; margin-right: 0vw; float: right;padding: 10px; ">
						<div class="wrap-input100 validate-input" data-validate="">
						<input title="Max Mismatch in Region 3'" style="font-size: 0.8em;" class="input100 text-center" type="text" id="rightPairedMismatchNameId" name="rightPairedMismatchName" placeholder="Mismatch Max. in Region 3' [default: 0.5]" value="{% if form %}{{ form['rightPairedMismatchName'] }}{% endif %}">
						<span class="focus-input100"></span>
						</div>
						</div>

						</div>

					</div>

					<span class="focus-input100"></span>
					</div>

					<div id="panelQualityTrimId">
					<input type="checkbox" id="activeQualityTrimId" name="activeQualityTrim"> 
					<span class="label-input100">Quality Trim</span>
					<span onclick="openModal('quality')" style="height: 20px; padding-top: 0px;" class="btn btn-warning btn-sm"><i class="fa fa-info"></i></span>
					<div id="panelQualityId" class="wrap-input100 input100-select" style="display: none;">
						<!--	<select class="selection-2" id="cbTrimQualityId" name="trimQualityName">
								<option value="off" selected="true">No Trim</option>
								<option value="n">Trim (N)</option>
								<option value="quality">Trim per Quality</option>
							</select>
							{% if form %}
								{% if form.trimQualityName=='n' %}
								<script type="text/javascript">
									document.getElementById("cbTrimQualityId").value = "n";
								</script>
								{% endif %}
								{% if form.trimQualityName=='quality' %}
								<script type="text/javascript">
									document.getElementById("cbTrimQualityId").value = "quality";
								</script>
								{% endif %}
							{% endif %} -->
						<div class="row">

							<div class="col-md-6">
								<div class="" style="display: inline-block; margin-right: 0vw; float: right;">
									<div class="wrap-input100 validate-input" data-validate="">
										<input title="Minimum Quality" class="input100 text-left" style="font-size:0.8em; margin-top: 15px;" name="minQualityName" type="text" id="minQualityId" placeholder="Min Quality [default: 10]" style="display: none;" value="{% if form %}{{ form['minQualityName'] }}{% endif %}">
									<span class="focus-input100"></span>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="" style="display: inline-block; margin-right: 0vw; float: right;">
									<div class="wrap-input100 validate-input" data-validate="">
										<input title="Quality Window Size" class="input100 text-left" style="font-size:0.8em; margin-top: 15px;" name="qualityWindowSizeName" type="text" id="qualityWindowSizeId" placeholder="Quality Window Size [default: 4]" style="display: none;" value="{% if form %}{{ form['qualityWindowSizeName'] }}{% endif %}">
									<span class="focus-input100"></span>
									</div>
								</div>								
							</div>

						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="" style="display: inline-block; margin-right: 0vw; float: right;">
									<div class="wrap-input100 validate-input" data-validate="">
										<input title="Max-N" class="input100 text-left" style="font-size:0.8em; margin-top: 15px;" name="maxNName" type="text" id="maxNId" placeholder="Maximum N [default: 10]" style="display: none;" value="{% if form %}{{ form['maxNName'] }}{% endif %}">
									<span class="focus-input100"></span>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="" style="display: inline-block; margin-right: 0vw; float: right;">
									<div class="wrap-input100 validate-input" data-validate="">
										<input title="Min Read Length" class="input100 text-left" style="font-size:0.8em; margin-top: 15px;" name="minReadLengthName" type="text" id="minReadLengthId" placeholder="Minimum Read Length [default: 0]" style="display: none;" value="{% if form %}{{ form['minReadLengthName'] }}{% endif %}">
									<span class="focus-input100"></span>
									</div>
								</div>
								
							</div>

						</div>

						<div class="col-md-12" style="margin-top: 15px;">
							<input type = "checkbox" id="trimNFlankId" name="trimNFlankName" value="{% if form %}{{ form['trimNFlankName'] }}{% endif %}"> 
							<label for="trimNFlank"> Trim flanking N bases</label>
						</div>
					</div>
				</div>
<!-- 
				<div id="panelPhredId" class="wrap-input100 input100-select">
					<span class="label-input100">Phred</span>
					<div>
						<select id="cbPhredId" class="selection-2" name="phredName">
							<option value="auto" selected="true">Auto</option>
							<option value="33">33</option>
							<option value="64">64</option>
						</select>
					</div>
							{% if form %}
								{% if form.phredName=='33' %}
								<script type="text/javascript">
									document.getElementById("cbPhredId").value = "33";
								</script>
								{% endif %}
								{% if form.phredName=='64' %}
								<script type="text/javascript">
									document.getElementById("cbPhredId").value = "64";
								</script>
								{% endif %}
							{% endif %}
					<span class="focus-input100"></span>
				</div> -->

				<div class="container-contact100-form-btn" style="margin-top: 25px; margin-bottom: 35px;">
					<div class="wrap-contact100-form-btn" style="width: 250px;">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn" onclick="">
							<span>
								<span id="btnTrimIdentifyId">Trim</span>
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</div>

			<!-- 	<button class="btn btn-primary" disabled>
				  <span class="spinner-grow spinner-grow-sm"></span>
				  Loading..
				</button> -->

<!-- 				<button class="btn btn-primary" onclick="submit_entry()">
							<span>
								<span id="btnTrimIdentifyId">Trim</span>
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
				</button> -->

				<!-- <input type="submit" name=""> -->
				
			<!-- </div> -->
			</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

	<script src="../static/js/home.js"></script>

<style type="text/css">

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
	
	.inputfile + label {
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    padding: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #4b8664;
}


</style>


{% endblock %}